* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 95%;
    margin: auto;
}

.text-uppercase {
    text-transform: uppercase;
}

#wrapper::after {
    clear: both;
    content: '';
    display: table;
}

aside {
    width: 100px;
    height: calc(100vh - 70px);
    float: left;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.mobile-logo {
    color: white;
}

.desktop-logo {
    display: none;
}

.menu {
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
}

.menu .active {
    color: white;
    font-weight: 900;
    position: relative;
}

.menu .active::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 24px;
    background-color: lightgreen;
    position: absolute;
    left: -20px;
}

.menu ul a {
    color: #bbb;
    font-size: 20px;
    padding: 5px;
    display: block;
    text-align: center;
}

.menu ul a:hover {
    color: white;
}

.menu ul a span {
    display: none;
    margin-left: 5px;
}

.submenu {
    display: none;
}

.submenu a {
    color: #bbb;
}

.submenu a:hover {
    color: white;
}

.sidebar-bottom {
    padding: 20px;
}

.app {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.sidebar-bottom a {
    color: #bbb;
    font-size: 20px;
    display: block;
    text-align: center;
}

.sidebar-bottom a:hover {
    color: white;
}

.sidebar-bottom a span {
    display: none;
}

main {
    width: calc(100% - 100px);
    height: calc(100vh - 70px);
    float: left;
    background-color: yellow;
    overflow: auto;
    padding-bottom: 100px;
}

nav {
    padding: 50px 0;
}

#main-menu {
    display: none;
}

.card-container {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 165px;
    height: 165px;
    background-color: blue;
    margin: 20px;
}

footer {
    height: 70px;
    background-color: #333;
    display: flex;
}

.footer-left {
    display: flex;
}

.cover {
    padding: 10px;
}

.cover img {
    width: 50px;
    height: 50px;
}

.artist {
    display: none;
}

.heart i {
    display: block;
    line-height: 70px;
    color: white;
}

.footer-center {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.track-controls {
    padding: 10px;
    text-align: center;
}

.icons {
    display: inline-block;
}

.icons i {
    font-size: 16px;
    padding: 0 5px;
    margin-left: 10px;
    line-height: 26px;
    color: white;
}

.icons i:first-child {
    margin-left: 0;
}

.icons .fa-pause {
    border: 1px solid white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.track-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
}

.track-time .slider {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 400px;
}

.slider {
    flex-grow: 1;
    -webkit-appearance: none;
    opacity: 0.7;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: opacity .2s;
    cursor: pointer;
    outline: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-appearance: none;
    appearance: none;
    background: lightgreen;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: lightgreen;
    cursor: pointer;
}

.footer-right {
    display: none;
}

@media screen and (min-width: 992px) {

    .container {
        max-width: 720px;
        margin: auto;
    }

    aside {
        width: 250px;
        height: calc(100vh - 100px);
    }

    .mobile-logo {
        display: none;
    }

    .desktop-logo {
        display: block;
    }

    .desktop-logo img {
        max-width: 100%;
    }

    .menu ul a {
        text-align: left;
    }

    .menu ul a span {
        display: inline-block;
    }

    .submenu {
        display: block;
    }

    .sidebar-bottom a {
        text-align: left;
    }

    .sidebar-bottom a span {
        display: inline-block;
        margin-left: 5px;
    }

    .sidebar-bottom .account i {
        vertical-align: middle;
    }

    main {
        width: calc(100% - 250px);
        height: calc(100vh - 100px);
    }

    #hamburger-menu {
        display: none;
    }

    #main-menu {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        max-width: 50%;
        margin: 0 auto;
    }

    .card {
        width: 200px;
        height: 200px;
    }

    footer {
        height: 100px;
    }

    .cover img {
        width: 80px;
        height: 80px;
    }

    .artist {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .artist-name {
        color: white;
    }

    .heart i {
        line-height: 100px;
        font-size: 20px;
    }

    .track-name {
        color: #bbb;
    }

    .icons i {
        line-height: 38px;
        font-size: 20px;
        margin-left: 20px;
    }

    .icons .fa-pause {
        width: 38px;
        height: 38px;
    }

    .footer-right {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .footer-right i {
        color: white;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1450px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }

    .card {
        max-width: 200px;
    }
}
